* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #3a3b47;
}

#wrapper {
  background-color: #babac2;
  height: 70vh;
  width: 55vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 140px;
  border-radius: 13px;
}

.top {
  margin-bottom: 10px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: rgb(54, 54, 54);
}
.para {
  margin-top: 25px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#guessField {
  margin-top: 20px;
  padding: 17px;
  border: none;

  background-color: rgb(160, 168, 168);
}
#subt {
  border-radius: 10px;
  padding: 15px;
  width: 120px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #f1f1f9;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  background-color: #4b2674;
  border: none;
}

#subt:hover{
    cursor: pointer;
    transform: translateY(1px);
}

.resultParas {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  align-items: center;
  color: rgb(54, 54, 54);
}

.button{
    display: flex;
   margin-left: 640px;
   padding: 15px;
   border-radius: 10px;
   border: none;
     text-align: center;
  font-family: "Roboto", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
  color: #f1f1f9;
  font-weight: 400;
    background-color: #4b2674;
}

.button:hover{
    cursor: pointer;
    transform: translateY(-1px);
}


.guesses{
    background-color: rgb(143, 143, 143);
}

.lowOrHi{
    margin-top: 18px;
    text-align: center;
}